In [1]:
pip install yfinance

Requirement already satisfied: yfinance in c:\programdata\anaconda3\lib\site-packages (0.2.44)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.1.4)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
import yfinance as yf

In [4]:
import datetime as dt

In [5]:
tsla = yf.Ticker('TSLA')
df= pd.DataFrame(tsla.info)

df

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
1,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
2,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
3,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
4,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
5,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
6,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
7,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
8,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
9,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215

In [6]:
df['financialCurrency']

0    USD
1    USD
2    USD
3    USD
4    USD
5    USD
6    USD
7    USD
8    USD
9    USD
Name: financialCurrency, dtype: object

In [17]:
#data used from here

start = dt.datetime(2021, 1, 1)
end = dt.datetime(2024, 1, 1)
ticker = 'TSLA'

data = yf.download(ticker, start, end)
df = pd.DataFrame(data)

df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,239.820007,248.163330,239.063339,243.256668,243.256668,145914600
2021-01-05,241.220001,246.946671,239.733337,245.036667,245.036667,96735600
2021-01-06,252.830002,258.000000,249.699997,251.993332,251.993332,134100000
2021-01-07,259.209991,272.329987,258.399994,272.013336,272.013336,154496700
2021-01-08,285.333344,294.829987,279.463318,293.339996,293.339996,225166500
...,...,...,...,...,...,...
2023-12-22,256.760010,258.220001,251.369995,252.539993,252.539993,93249800
2023-12-26,254.490005,257.970001,252.910004,256.609985,256.609985,86892400
2023-12-27,258.350006,263.339996,257.519989,261.440002,261.440002,106494400
2023-12-28,263.660004,265.130005,252.710007,253.179993,253.179993,113619900
2023-12-29,255.100006,255.190002,247.429993,248.479996,248.479996,100615300

In [8]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,256.760010,258.220001,251.369995,252.539993,252.539993,93249800
2023-12-26,254.490005,257.970001,252.910004,256.609985,256.609985,86892400
2023-12-27,258.350006,263.339996,257.519989,261.440002,261.440002,106494400
2023-12-28,263.660004,265.130005,252.710007,253.179993,253.179993,113619900
2023-12-29,255.100006,255.190002,247.429993,248.479996,248.479996,100615300

In [16]:
df = data["Adj Close"] 
df
    # remove Date column

KeyError: 'Adj Close'

In [10]:
df = pd.DataFrame([i for i in df])[0]

In [11]:
df

0      243.256668
1      245.036667
2      251.993332
3      272.013336
4      293.339996
          ...
748    252.539993
749    256.609985
750    261.440002
751    253.179993
752    248.479996
Name: 0, Length: 753, dtype: float64

In [12]:
data= pd.DataFrame(tsla.info)
data

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
1,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
2,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
3,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
4,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
5,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
6,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
7,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
8,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215
9,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.20389,676625024,14478999552,0.17,0.078,0.18229,0.13633,0.10789,USD,8.215

In [13]:
data = data.reset_index()
trend_dates = pd.to_datetime(data["Date"]).map(lambda x: str(x.date())).tolist()

KeyError: 'Date'